<div class="container">
  <div class="row">
    <div class="col">
      <img class="img1" src="{{book.image_url}}" alt="">
        <table>
            <tr>
                <td>Pages: {{book.pages}}</td>                
            </tr>
            <tr><td>Rating: {{book.rating}} ({{book.review_count}})</td></tr>
            <tr><td>Genres: {{book.genres}}</td></tr>
        </table>

    </div>
    <div class="col">
      <h3>{{book.title}}</h3>
      <p class="author"><em>by {{book.authors}}</em></p>
      <p class="desc"> {{book.description}}</p>
      
<form method="GET" action="/findreview">
    <input type="hidden" id="title" name="title" value="{{book.title}}">
    <button type="submit">Find Review</button>

</form>
      
      
    
    </div>
  </div>

  
   
            
            <!--
			<code>Rating: </code> <i>{{ show.rating }}</i>
		</p>
		<div class="d-flex justify-content-between">
			<a class="btn btn-sm btn-warning" href="/">
				<i class="fas fa-home mr-1"></i>
				Back
			</a>
			{{#if hasSite}}
				<a class="btn btn-sm btn-primary" href="{{ show.official_site }}" target="_blank">
				<i class="fas fa-paper-plane mr-1"></i>
					Official Site
				</a>
			{{/if}}
            -->
		</div>
	</div>
</div>