<div class="container">
  <div class="row">
    <div class="col">
      <img class="img1" src="{{book.image_url}}" alt="">
        <table>
            <tr>
                <td>Pages: {{book.pages}}</td>                
            </tr>
            <tr><td>Rating: {{book.rating}} ({{book.review_count}})</td></tr>
            <tr><td>Genres: {{genres}}</td></tr>
        </table>

    </div>
    <div class="col">
      <h3>{{book.title}}</h3>
      <p class="author"><em>by {{author}}</em></p>
      <p class="desc"> {{book.description}}</p>
      
<form method="GET" action="/findreview">
    <input type="hidden" id="title" name="title" value="{{book.title}}">
    <button type="submit">Find Review</button>

</form>
      <div class="mid1">
      <a href="/"><button type="button" class="btn btn-secondary">Home</button></a>
    
    </div>
  </div>

 
       

  
		</div>
	</div>
</div>