<div class="container-fluid">
    <div class="row">
	<div class="col-4 d-flex justify-content-center">
        
    
   <h2>Letter {{q}}</h2></div></div>
<div class="row">
	<div class="col-4 d-flex justify-content-center">
<ul style="list-style-type:none" >
    {{#each letters}}
    
        <li>
            <a href="/books/{{../q}}/{{this.book_id}}">
            {{ this.title }}
            </a>
        </li>
    {{/each}}

</ul>

</div></div></div>

<!--navigation buttons-->

<div class="container">
  <div class="row">
    <div class="col">
        
      <form method="GET" action="/books/{{q}}">
                        <input type="hidden" name="q" value="{{ q }}">
                        <input type="hidden" name="offset" value={{ prevOffset }}>
                        <button type="submit">Previous</button>
                    </form>
    </div>
        
        
    <div class="col">
      <form method="GET" action="/books/{{q}}">
                        <input type="hidden" name="q" value="{{ q }}">
                        <input type="hidden" name="offset" value={{ nextOffset }}>
                        <button type="submit">Next</button>
                    </form>
    </div>
  </div>

 


		</div>
	</div>
