<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-2">
      
    </div>
    <div class="col-md-auto">
    
        
        <h1>{{bookreview.book_title}}</h1>
        <p><em>by {{bookreview.book_author}}</em></p>
        <p>Reviewer: {{bookreview.byline}}</p>
        <p>Date: {{bookreview.publication_dt}}</p>
        <p>{{bookreview.summary}}</p>
        <p class="right"><a href="{{bookreview.url}}" target="__blank"> Full Review</a>        </p>
    </div>
       
     
    
   
    
    <div class="col col-lg-2">
    
    </div>
  </div>


<hr>
<footer>
    <p class="copyright">{{copyright}}</p>
</footer>
</div>
