<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-2">
      
    </div>
    <div class="col-md-auto">
    {{#each bookreview}}
        
        <h1>{{this.book_title}}</h1>
        <p><em>by {{this.book_author}}</em></p>
        <p>Reviewer: {{this.byline}}</p>
        <p>Date: {{this.publication_dt}}</p>
        <p>{{this.summary}}</p>
        <p class="right"><a href="{{this.url}}" target="__blank"> Full Review</a>        </p>
    </div>
       {{/each}}
     
    
   
    
    <div class="col col-lg-2">
    
    </div>
  </div>


<hr>
<footer>
    <p class="copyright">{{copyright}}</p>
</footer>
</div>
